{% extends "base.html" %}

{% block leftnav %}
    <a href="/" title="Back to random grid">{% include "icon_grid.svg" %}</a>
    <a href="/about" title="What is this?">{% include "icon_info.svg" %}</a>
{% endblock %}

{% block content %}
<h1>Flourish</h1>

<p>These are <a href="https://en.wikipedia.org/wiki/Harmonograph">harmonographs</a>,
traces of a multi-pendulum drawing machine.</p>

<p>Made by <a href="https://nedbatchelder.com">Ned Batchelder</a>.</p>

<p>These were helpful:</p>

<ul>
<li>Paul Bourke’s
    <a href="http://paulbourke.net/geometry/harmonograph/">Harmonograph page</a>
    has details and equations.</li>
<li>Alan Richmond’s
    <a href="https://github.com/tuxar-uk/Harmonumpyplot">Harmonograph simulators using numpy and matplotlib</a>
    provided good ideas about numpy and how to randomly generate good starting
    points.</li>
</ul>

{% endblock %}
