<!DOCTYPE html>
<head>
    <title>Flourish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    {% include "style.css" %}
    {% if debug %}
    .debug {
        white-space: pre;
        font-family: monospace;
        background: #eee;
        padding: .5em .25em;
    }
    {% endif %}
    </style>
    <script>
        {% include "interaction.js" %}
    </script>
</head>
<body>
    <nav id="actions">
        {% block actions %}{% endblock %}
    </nav>

    <main id="content">
    {% block content %}
    content goes here
    {% endblock %}
    </main>

    <div id="scrim"></div>

    <aside id="settings">
        <a href="#" class="close" id="about_close" onClick="hideSettings()">{% include "icon_close.svg" %}</a>
        {% block settings %}
        {% endblock %}
    </aside>

    <aside id="about">
        <a href="#" class="close" id="about_close" onClick="hideAbout()">{% include "icon_close.svg" %}</a>
        <h1>Flourish</h1>

        <p>These are <a href="https://en.wikipedia.org/wiki/Harmonograph">harmonographs</a>,
        traces of a multi-pendulum drawing machine.</p>

        <p>Made by <a href="https://nedbatchelder.com">Ned Batchelder</a>.</p>

        <p>These were helpful:</p>

        <ul>
        <li>Paul Bourke’s
            <a href="http://paulbourke.net/geometry/harmonograph/">Harmonograph page</a>
            has details and equations.</li>
        <li>Alan Richmond’s
            <a href="https://github.com/tuxar-uk/Harmonumpyplot">Harmonograph simulators using numpy and matplotlib</a>
            provided good ideas about numpy and how to randomly generate good starting
            points.</li>
        <li>Pablo Garcia's <a href="https://drawingmachines.org/category.php?id=35">DrawingMachines.org</a>
            has links to patents for various mechanical implementations of the
            idea.
        </ul>

        <p>Icons from <a href="https://icons.mono.company/">Mono Icons</a>.</p>
    </aside>

    {% if debug %}
    <aside class="debug">{{ debug }}</aside>
    {% endif %}
</body>
</html>
