{% extends "base.html" %}

{% block actions %}
    <a href="/" title="Reload">{% include "icon_refresh.svg" %}</a>
    <a href="#" id="button_settings" onClick="showSettings()" title="Settings">{% include "icon_settings.svg" %}</a>
    <a href="/upload" title="Upload">{% include "icon_upload.svg" %}</a>
    <a href="#" id="button_about" onClick="showAbout()" title="What is this?">{% include "icon_info.svg" %}</a>
{% endblock %}

{% block content %}
<div class="thumbs">
{% for thumb in thumbs %}
    {{ thumb.as_html()|safe }}
{% endfor %}
</div>
{% endblock %}

{% block settings %}
    <h1>Settings</h1>

    <form name="many_settings" method="POST" action="/manysettings" onsubmit="return validateManySettings()">
        {{ form.csrf_token }}
        <p>{{ form.npend.label }} {{ form.npend(size=1) }}</p>
        <p>Symmetries to include:
        <span class="short_check">{{ form.xy_symmetry() }} {{ form.xy_symmetry.label }}</span>
        <span class="short_check">{{ form.x_symmetry() }} {{ form.x_symmetry.label }}</span>
        <span class="short_check">{{ form.y_symmetry() }} {{ form.y_symmetry.label }}</span>
        <span class="short_check">{{ form.no_symmetry() }} {{ form.no_symmetry.label }}</span>
        </p>
        {#
        <p>{{ form.style.label }} {{ form.style(size=20) }}</p>
        #}
        <p class="form-buttons"><input type="submit" value="Go"></p>
    </form>
{% endblock %}
