{% extends "base.html" %}

{% block leftnav %}
    <a href="/" title="Back to random grid">{% include "icon_grid.svg" %}</a>
    <a href="/about" title="What is this?">{% include "icon_info.svg" %}</a>
{% endblock %}

{% block rightnav %}
    <a href="{{ download_url }}" title="Download PNG">{% include "icon_download.svg" %}</a>
{% endblock %}

{% block content %}
<div class="one">{{svg|safe}}</div>
<div class="nexts thumbs">
    {% for name, thumbs in param_display %}
        {% if thumbs %}
            {% for val, thumb in thumbs %}
                {{thumb.as_html(title="{name} = {val}".format(name=name, val=val))|safe}}
            {% endfor %}
            <br/>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
